LEAGUE_ID=<FPL League Id>
H2H_LEAGUE_ID=<FPL H2H League Id>
SUPABASE_PROJECT_KEY=<Supabase Project Key>
SUPABASE_SERVICE_ROLE=<Supabase Service Role Key>
SUPABASE_PROJECT_URL=<Supabase Project URL>
SUPABASE_JWT_SECRET=<Your supabase jwt token>